body {
  background-color: #fffff0;
}
.xx-top {
  padding-bottom: 100vh;
}
.xx-body {
  box-sizing: border-box;
  width: 90%;
  margin: 0 auto;
}
.xx-background {
  position: fixed;
  left: 0;
  right: 0;
  width: 50%;
  height: 100vh;
  background-color: #efefef;
  z-index: -100;
}
.xx-head {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url(/assets/images/samples-oilify/water.jpg);
  background-position: center;
  background-size: cover;
  min-height: 10ex;
  margin-bottom: 5px;
  padding: 3ex 1em;
  box-sizing: border-box;
  border-bottom: var(--x-theme-border);
  background-color: #fff;
}
.xx-title {
  font-family: Frijole-Regular;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 0 0 2px #000;
  line-height: 1.2;
  color: #fff;
}
.xx-subtitle {
  font-size: 1.25rem;
  font-weight: bold;
  text-shadow: 0 0 2px #000;
  color: #fff;
}
ul.xx-calendars {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0;
  margin: 0 auto;
}
ul.xx-calendars>li.xx-calendar {
  display: block;
  align-self: center;
  list-style: none;
  margin: 5px;
  padding: 0;
  text-align: center;
}
ul.xx-calendars>li.xx-header {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  margin: 5px auto;
  text-align: center;
  text-shadow: 0 0 2px #000;
  color: #fff;
  background: url(/assets/images/samples-oilify/water.jpg) center;
  border-top: var(--x-theme-border);
  border-bottom: var(--x-theme-border);
  min-height: 4ex;
  padding: 1ex 1em;
  font-size: 1.25rem;
  font-weight: bold;
  box-sizing: border-box;
  width: 100%;
}
li.xx-calendar {
  list-style: none;
  margin: 0;
  padding: 0;
}
li.xx-calendar div.x-cal-head {
  color: #000;
  padding: 5px;
}
li.xx-calendar div.x-cal-head span.x-date {
  font-family: inherit;
}
li.xx-calendar div.x-cal-body {
  color: #000;
  border: none;
}
li.xx-calendar.xx-style01 > div.x-calendar {
  border: var(--x-theme-border);
  border-color: #c00;
}
li.xx-calendar.xx-style01 div.x-cal-head {
  background-color: #f85;
  border-bottom: var(--x-dotted-border);
  border-bottom-color: #c00;
}
li.xx-calendar.xx-style01 div.x-cal-body {
  background-color: #fda;
}
li.xx-calendar.xx-style02 > div.x-calendar {
  border: var(--x-theme-border);
  border-color: rgb(224, 102, 102);
}
li.xx-calendar.xx-style02 div.x-cal-head {
  background-color: #fa4;
  border-bottom: var(--x-dotted-border);
  border-bottom-color: rgb(224, 102, 102);
}
li.xx-calendar.xx-style02 div.x-cal-body {
  background-color: #fe9;
}
li.xx-calendar.xx-style03 > div.x-calendar {
  border: var(--x-theme-border);
  border-color: rgb(106, 168, 79);
}
li.xx-calendar.xx-style03 div.x-cal-head {
  background-color: #bc6;
  border-bottom: var(--x-dotted-border);
  border-bottom-color: rgb(106, 168, 79);
}
li.xx-calendar.xx-style03 div.x-cal-body {
  background-color: #de8;
}
li.xx-calendar.xx-style04 > div.x-calendar {
  border: var(--x-theme-border);
  border-color: #1e90ff;
}
li.xx-calendar.xx-style04 div.x-cal-head {
  background-color: #9cd;
  border-bottom: var(--x-dotted-border);
  border-bottom-color: #1e90ff;
}
li.xx-calendar.xx-style04 div.x-cal-body {
  background-color: #c8e8f8;
}
.xx-status01 {
  background-color: #f98;
}
.xx-status02 {
  background-color: #f85;
}
.xx-status03 {
  background-color: #fa4;
}
.xx-status04 {
  background-color: #fc3;
}
.xx-status05 {
  background-color: #bc6;
}
.xx-status06 {
  background-color: #8c7;
}
.xx-status07 {
  background-color: #8da;
}
.xx-status08 {
  background-color: #8de;
}
.xx-status09 {
  background-color: #9cd;
}
.xx-status10 {
  background-color: #cbf;
}
.xx-status11 {
  background-color: #fcc;
}
.xx-status12 {
  background-color: #fda;
}
.xx-status13 {
  background-color: #fe9;
}
.xx-status14 {
  background-color: #ee8;
}
.xx-status15 {
  background-color: #de8;
}
.xx-status16 {
  background-color: #ceb;
}
.xx-status17 {
  background-color: #bbeed4;
}
.xx-status18 {
  background-color: #c8e8f8;
}
.xx-status19 {
  background-color: #e0e0ff;
}
.xx-status20 {
  background-color: #ecd8ec;
}
.xx-status21 {
  background-color: #ccc;
}
.xx-status22 {
  background-color: #ddd;
}
.xx-status23 {
  background-color: #eee;
}
@media  print {
  body {
    background-color: #fff !important;
  }
}
@media  print {
  div.xx-top {
    padding-bottom: 0 !important;
  }
}
