dist/
*~
*.o
*.lo
*.la
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
src/Makefile
src/config.h
src/stamp-h1
src/.libs
src/.deps

