<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="version" content="2">
<meta name="metainfo" content="{&quot;C&quot;:30000,&quot;M&quot;:30000}">
<link rel="stylesheet" type="text/css" href="/assets/css/client-v1.css">
<link rel="stylesheet" type="text/css" href="/assets/templates/blank/blank-v2.css">
</head>
<body>
<div class="x-root xx-root">
<div class="xx-top" style="width:90%;margin:10px auto;padding-bottom:100vh">XXX</div>
</div>
<div id="x-rightsidebar">
<div class="x-rsb-content">
<div class="x-rsb-tab x-t-button fa fa-ellipsis-h" x-tp="classes/x-box x-box-gray x-bold x-code x-error x-float-left-clear-none x-float-right-clear-none x-italic x-pre x-style-dark x-style-light x-warn"></div>
<a class="x-rsb-tab x-placeholder" href="index.html" style="background-color: rgba(136, 187, 0, 0.75);">Up</a>
<div class="x-rsb-padding"></div>
</div>
</div>
</body>
</html>
