<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="version" content="2">
<meta name="metainfo" content="{&quot;C&quot;:30000,&quot;M&quot;:30000}">
<link rel="stylesheet" type="text/css" href="/assets/css/client-v1.css">
<link rel="stylesheet" type="text/css" href="/assets/templates/form/form-v2.css">
</head>
<body>
<div class="xx-root">
<div class="x-root">
<div class="xx-top">
<div class="xx-form" style="padding: 0.35in">
<div class="xx-head">
<div class="xx-title-left"></div>
<div>
<div class="xx-title">Title</div>
<div class="xx-subtitle x-hidden">Subtitle</div>
</div>
<div class="xx-title-right"></div>
</div>
<div class="xx-form-row">
<div class="xx-form-cell">
<div class="xx-form-heading">Heading</div>
</div>
</div>
<div class="xx-form-row">
<div class="xx-form-label" style="width: 6em">Label</div>
<div class="xx-form-cell">
<input class="xx-form-input" placeholder="Enter text here" style="border-bottom: 1px solid #aaa;">
</div>
</div>
</div>
</div>
</div>
</div>
<div id="x-rightsidebar">
<div class="x-rsb-content">
<div class="x-rsb-tab x-t-button fa fa-toggle-down" x-tp="{&quot;t&quot;:&quot;form&quot;,&quot;m&quot;:[[{&quot;a&quot;:&quot;widget,form, row, 1\/&quot;},{&quot;a&quot;:&quot;widget,form, col, 1\/&quot;},{&quot;a&quot;:&quot;widget,form, head, 1\/&quot;},{&quot;a&quot;:&quot;widget,form, label, 1\/&quot;}],[{&quot;a&quot;:&quot;widget,form, input, 1\/&quot;},{&quot;a&quot;:&quot;widget,form, input-with-borer, 1\/&quot;},{&quot;a&quot;:&quot;widget,form, textarea, 1\/&quot;},{&quot;a&quot;:&quot;widget,form, textarea-with-border, 1\/&quot;}],[{&quot;a&quot;:&quot;widget,form, checkbox, 1\/&quot;},{&quot;a&quot;:&quot;widget,form, radio-group, 1\/&quot;},{&quot;a&quot;:&quot;widget,form, radio-button, 1\/&quot;},{&quot;a&quot;:&quot;widget,form, save-button, 1\/&quot;}]]}"></div>
<div class="x-rsb-tab fa fa-save" x-tp="{&quot;C&quot;:&quot;save&quot;,&quot;p&quot;:&quot;forms\/filled&quot;}"></div>
<div class="x-rsb-tab x-t-button fa fa-ellipsis-h" x-tp="classes/x-box x-box-gray x-bold x-code x-error x-float-left-clear-none x-float-right-clear-none x-italic x-pre x-style-dark x-style-light x-warn"></div>
<a class="x-rsb-tab x-placeholder" href="index.html" style="background-color: rgba(136, 187, 0, 0.75);">Up</a>
<div class="x-rsb-padding"></div>
</div>
</div>
</body>
</html>
