<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="version" content="2">
<meta name="metainfo" content="{&quot;C&quot;:3000005,&quot;M&quot;:3000005}">
<link rel="stylesheet" type="text/css" href="/assets/css/client-v1.css">
<link rel="stylesheet" type="text/css" href="/assets/templates/v2/photo/photo-wall.css">
</head>
<body>
<div class="x-root xx-root xx-style00">
<div class="xx-top">
<div class="xx-body">
<div class="xx-section">
<div class="xx-header x-imageholder">
<div class="xx-subject">Subject</div>
</div>
<ul class="xx-photos"></ul>
</div>
</div>
</div>
</div>
<div id="x-rightsidebar">
<div class="x-rsb-content"><template name="xx-section">
<div class="xx-section">
<div class="xx-header x-imageholder">
<div class="xx-subject x-placeholder">Subject</div>
</div>
<ul class="xx-photos"></ul>
</div>
</template><template name="xx-image">
<li class="xx-photo">
<div class="x-photo" x-th="image0"><a href="/assets/images/samples-oilify/pink.jpg?view"><img class="x-imageholder x-portrait" src="/assets/images/samples-oilify/pink.jpg"></a></div>
<div class="xx-caption">
<div class="xx-caption-content x-placeholder">XXX</div>
</div>
</li>
</template><template name="xx-photo">
<li class="xx-photo">
<div class="x-photo" x-th="photo"><a href="/assets/images/samples-oilify/pink.jpg?view"><img class="x-imageholder x-portrait" src="/assets/images/samples-oilify/pink.jpg"></a></div>
<div class="xx-caption"><span class="xx-datetime" x-th="date">XXX</span>  <span class="x-placeholder">XXX</span></div>
</li>
</template>
<div class="x-rsb-tab x-t-button fa fa-bars" x-tp="widget,template,,xx-section,1/xx-section/xx-body/xx-body"></div>
<div class="x-rsb-tab x-t-button fa fa-file-image-o" x-tp="widget,template,,xx-image,1/xx-photo xx-photos/xx-section/xx-photos"></div>
<div class="x-rsb-tab x-t-button fa fa-camera x-hide-in-desktop" x-tp="widget,template,,xx-photo,1/xx-photo xx-photos/xx-section/xx-photos"></div>
<div class="x-rsb-tab x-t-button fa fa-toggle-down" x-tp="{&quot;t&quot;:&quot;photo&quot;,&quot;m&quot;:[[{&quot;a&quot;:&quot;d/xx-photo xx-section&quot;,&quot;c&quot;:&quot;fa-minus&quot;},{&quot;a&quot;:&quot;c/xx-hide//xx-body&quot;,&quot;c&quot;:&quot;fa-eye-slash&quot;},{&quot;a&quot;:&quot;c/xx-size-large xx-size-xlarge xx-size-xxlarge//xx-body&quot;,&quot;c&quot;:&quot;fa-expand&quot;}]],&quot;n&quot;:&quot;photo-v2&quot;}"></div>
<div class="x-rsb-tab x-t-button fa fa-ellipsis-h" x-tp="classes/x-box x-box-gray x-bold x-code x-error x-float-left-clear-none x-float-right-clear-none x-italic x-pre x-style-dark x-style-light x-warn"></div>
<a class="x-rsb-tab x-placeholder" href="index.html" style="background-color: rgba(136, 187, 0, 0.75);">Up</a>
<div class="x-rsb-padding"></div>
</div>
</div>
</body>
</html>
