.xx-image-row {
  display: grid;
  grid-auto-flow: column;
 grid-template-rows: 1fr; 
  grid-auto-columns: 1fr;
  margin: 10px 0;
  width: 100%;
}
.xx-image-row img {
  max-width: -webkit-fill-available;
  margin-right: 5px;
}
.xx-image-column {
  display: grid;
  grid-auto-flow: row wrap;
  grid-template-columns: 1fr; 
  grid-auto-rows: auto;
}
.xx-image-column img {
  max-width: -webkit-fill-available;
  margin-bottom: 5px;
}
.xx-popup {
  padding: 15px;
  font-size: 90%;
  width: 20em;
  background-color: rgb(221, 238, 136);
}
body {
  font-family: Ruda-Regular;
}
div.x-root {
  background-color: rgb(255, 255, 240);
}
div.xx-top {
  line-height: 1.4;
  margin: 0px auto;
  max-width: 36rem;
  padding-bottom: 75vh;
  width: 80vw;
}
div.xx-content {
  line-height: 1.5;
  box-sizing: border-box;
}
.x-a-content {
  line-height: 1.4;
}
.x-error {
  color: rgb(238, 0, 0);
  border-bottom: 1px dashed rgb(238, 0, 0);
}
.x-warn {
  color: rgb(255, 85, 0);
  border-bottom: 1px dashed rgb(255, 85, 0);
}
.x-bold {
  font-weight: bold;
}
li.x-list {
  display: flex;
  align-items: baseline;
  margin-left: 0px;
  list-style: none;
}
.x-bullet {
  display: inline-block;
  flex: 0 0 auto;
  justify-content: center;
  text-align: center;
  align-self: baseline;
  box-sizing: border-box;
  overflow: visible;
  margin: 0px 0.5em 0px 0px;
  padding: 0px;
  width: 1.5em;
}
.x-list-content {
  display: inline-block;
}
ul.x-none {
  margin-left: 0px;
  padding-left: 0px;
}
ul.x-none > li {
  list-style: none;
  margin-left: 0px;
}
.xx-head {
  font-family: AlegreyaSansSC-Black;
  font-size: 2em;
  padding: 1.5ex 0px 1ex;
  clear: both;
}
div.xx-version {
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  white-space: nowrap;
}
span.xx-version {
  color: rgb(204, 0, 0);
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 10px 2em;
  height: fit-content;
}
.xx-feature {
  color: rgb(106, 168, 79);
}
span.xx-feature {
  color: rgb(56, 118, 29);
  font-weight: bold;
}
.xx-bug {
  color: rgb(204, 0, 0);
}
ul.xx-oneliner li {
  white-space: nowrap;
}
ul.xx-toc > li {
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 1.5;
}
li {
  list-style-position: outside;
  margin: 5px 0px 5px 1.5em;
}
img.xx-figure-s {
  width: 120px;
  max-width: 25vw;
  float: right;
}
img.xx-figure-sb {
  width: 120px;
  max-width: 25vw;
  border: 1px solid rgb(136, 136, 136);
  float: right;
}
img.xx-figure-lb {
  width: 16rem;
  max-width: 30vw;
  border: 1px solid rgb(136, 136, 136);
  float: right;
}
div.xx-figure.x-a-content {
  padding: 0;
  border-radius: 0;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
}
img.xx-figure-l, div.xx-figure-l img {
  width: 16rem;
  max-width: 30vw;
  float: right;
}
img.xx-figure-l.x-landscape, div.xx-figure-l.x-landscape img {
  width: 20rem;
  max-width: 60vw;
  float: right;
}
img.xx-figure-toolbar {
  height: 3ex;
}
img.xx-figure-toolbar2 {
  height: 6ex;
}
img.xx-figure-toolbar3 {
  height: 9ex;
}
.xx-tips {
  font-family: Julee-Regular;
  line-height: 1.3;
}
.xx-title {
  font-size: 2.5rem;
  font-family: Coda-Heavy;
  display: flex;
  align-items: center;
  justify-content: right;
  margin: 0px 0px 1ex;
}
.xx-title-left {
  align-items: center;
  background-image: url("/assets/images/samples-mosaic/water.jpg");
  color: rgb(255, 255, 255);
  display: flex;
  flex: 0 0 auto;
  font-size: 1.5em;
  height: 3ex;
  justify-content: flex-end;
  width: 3ex;
}
.xx-title-right {
  flex: 1 1 100%;
  height: 3ex;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.x-head3 {
  font-weight: normal;
  font-size: 1.1rem;
  font-family: AlegreyaSansSC-Regular;
}
@media print {
  div.x-root {
    background-color: rgb(255, 255, 255) !important;
  }
  div.xx-top {
    padding-bottom: 0px !important;
  }
}